{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}
<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide" data-bs-ride="carousel" data-bs-theme="dark">
    <!-- Controls -->
    <div class="d-flex justify-content-center mb-4">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselMultiItemExample"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselMultiItemExample"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="carousel-inner py-4">
        {% for item in gallery_items %}
        {% if forloop.first or forloop.counter0|divisibleby:3 %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="container">
                <div class="row">
                    {% endif %}

                    <div
                        class="col-lg-4 {% if not forloop.first and forloop.counter0|divisibleby:3 %}d-none d-lg-block{% endif %}">
                        <div class="card">
                            <img src="{% cloudinary_url item.gallery_image %}" class="pic card-img-top"
                                alt="{{ item.name }}">
                            <div class="card-body">
                                <h4 class="card-title">{{ item.name }}</h4>
                                <p class="card-text">{{ item.description }}</p>
                            </div>
                        </div>
                    </div>

                    {% if forloop.last or forloop.counter|divisibleby:3 %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        new bootstrap.Carousel(document.getElementById('carouselMultiItemExample'), {
            interval: 4000,
            wrap: true,
            touch: true
        });
    });
</script>
{% endblock content %}

{% block copyright %}
<!-- Footer copyright -->
Copyright 2024 Werecat Industries
{% endblock %}